<h1>Dashboard</h1>
<div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoqX2agUwT2f1hCZhih7V6kpU7QpQOY-PVxw&usqp=CAU" class="card-img-top" alt="...">
  <div class="card-body">
    <button (click)="saveAllBookMarks()" type="button" class="btn btn-success">Save bookmarks in DB</button>
  </div>
</div>

<br><br>

<button (click)="navigateToBookmarksPage()" type="button" class="btn btn-success">View All Bookmarks</button>
<br><br>
<button (click)="logout()" type="button" class="btn btn-success">Logout</button>
